{% extends "::base.html.twig" %}

{% block title %}My tweets{% endblock %}

{% block body %}

<div id="tweet_container" data-user="{{ app.user.id }}">

        {% if app.user %}
    <button type="button" id="new-tweet" class="btn btn-default btn-mid">
        <span class="glyphicon glyphicon-envelope" title="Create a new tweet"></span>
    </button>
    {% endif %}

    <button type="button" id="refresh-tweet" class="btn btn-default btn-mid">
        <span class="glyphicon glyphicon-refresh" title="Refresh tweets"></span>
    </button>

    {% for article in pagination %}
        {% include 'UserTweetsBundle:Main:entry.html.twig' with { 'entry': article } %}
    {% else %}
    <div class="panel panel-default" id="no-tweets">
        <div class="panel-heading">Info</div>
        <div class="panel-body">
            <p>There are no entries.</p>
        </div>
    </div>
    {% endfor %}
    {% if pagination.article|default is empty %}
        <div class="panel panel-default" id="no-tweets" style="display: none;">
            <div class="panel-heading">Info</div>
            <div class="panel-body">
                <p>There are no entries.</p>
            </div>
        </div>        
        {{ knp_pagination_render(pagination, "", {}, { "class": "pagination-centered text-center" }) }}
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/usertweets/js/loader-my.js') }}"></script>    
{% endblock %}